    <div role="group">
        <button onclick="{location.href = '/'}">Agregar</button>
        <button onclick="{location.href = '/edit'}" class="bg-yellow">Editar</button>
        <button onclick="{location.href = '/remove'}" class="bg-red">Eliminar</button>
    </div>