<form id="deleteSportForm" >
  
  <fieldset class="grid"> 
     <label>
      ID
      <input
        id="sportInputId"
        name="id"
        placeholder="ID"
        required
      />
      <input
        id="searchSportBtn"
        type="button"
        value="buscar"
    />
    </label>
  </fieldset>
    
  <fieldset>
    <label>
      Nombre
      <input
        id="sportInputNombre"
        name="nombre"
        placeholder="nombre"
        disabled
        autocomplete="given-name"
      />
    </label>
    <label>
      Precio
      <input
        id="sportInputPrecio"
        disabled
        type="number"
        name="precio"
        placeholder="$9.999"
        autocomplete="transaction-amount"
      />
    </label>
  </fieldset>

  <input
    class="bg-red"
    type="submit"
    value="Eliminar Registro"
  />
</form>