<form id="newSportForm" action="/sports" method="post">
  <fieldset>
    <label>
      Nombre
      <input
        name="nombre"
        placeholder="nombre"
        required
        autocomplete="given-name"
      />
    </label>
    <label>
      Precio
      <input
        type="number"
        name="precio"
        required
        placeholder="$9.999"
        autocomplete="transaction-amount"
      />
    </label>
  </fieldset>

  <input
    type="submit"
    value="Registrar"
  />
</form>