<h2>Lista Deportes</h2>

<table id="sportTable">
  <thead >
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Deporte</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody id="sportTableBody">

  </tbody>
</table>